@model IEnumerable<Blasterify.Client.Models.Movie>
@{
    ViewBag.Title = "Home Page";
}

<body>
    <!-- Header-->
    <header class="bg-dark" style="position: relative;">
        <img src="https://firebasestorage.googleapis.com/v0/b/blasterify.appspot.com/o/multimedia%2Fwelcome%2FOppenheimer.jpg?alt=media&token=b03b41f9-1ced-4e96-b926-589f6896f206"
             style="width: 100%; height: 100%; object-fit: cover;" />
    </header>

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                @foreach (var item in Model)
                {
                    if (item.IsFree)
                    {
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Free</div>
                                <!-- Product image-->
                                <img class="card-img-top" src="@item.FirebasePosterId" alt="@item.Title" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@item.Title</h5>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Play</a></div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="@item.FirebasePosterId" alt="@item.Title" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@item.Title</h5>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                                        {
                                            @Html.Hidden("id", item.Id)

                                            <input class="btn btn-outline-dark mt-auto" type="submit" value="Test" />
                                        }

                                        <button class="btn btn-outline-dark mt-auto add-cart" type="submit" data-id="@item.Id">
                                            Rent for $@item.Price
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".add-cart").click(function () {
                var id = $(this).data("id");
                $.ajax({
                    url: '/Home/SetSessionValue',
                    type: 'POST',
                    data: JSON.stringify({ id: id }),
                    success: function (result) {
                        console.log(result);
                    }
                });
            });
        });
    </script>
</body>